* {
  font-size: 13px;
  font-family: arial, sans-serif;
}

.navbar {
  padding: 0;
}

.navbar-light .navbar-nav .nav-link {
  color: #000;
}

.bg-custom {
  background-color: #f2f2f2;
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    text-decoration: underline;
    color: inherit;
}

.btn-lg {
  background-color: #f2f2f2;
  color: #5F6368;
  margin: 11px 4px;
}

.btn:hover {
  color: #222;
}

.nav-left {
  padding-left: 15px;
}

.content {
  margin-top: 77px;
  text-align: center;
}

.navbar-nav ml-auto {
  align-items: center;
}

i {
  opacity: .55;
}

i .material-icons{
  padding: 0;
}

i:hover {
  opacity: 1;
}

#searchBar {
  margin: auto;
  margin-top: 20px;
  max-width: 584px;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  height: 44px;
  font: 16px arial,sans-serif;
}

#logo {
  padding-top: 109px;
  width: 272px;
}

#footer {
  margin: 0;
  line-height: 30px;
}

#footer a {
  color: #5f6368;
  font-size: 14px;
  padding-left: 27px;
}

#footerRight {
  margin-right: 30px;
}

#navBar {
  margin-top: 10px;
  padding: 15px;
  height: 47px;
}

#signIn {
  font-weight: bold;
  color: white;
  background-color: #4285f4;
  margin: 0 10px 0 0;
  padding-right: 12px;
  padding-left: 12px;
}

#searchIcon {
  display: flex;
  align-items: center;
  padding-right: 13px;
  margin-top: -5px;
}

#search {
  position: relative; 
  max-width: 584px;
  border: 1px solid;
}

#searchBar:hover {
  box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}

#search > span {
  position: absolute;
  top: 40px;
  left: 15px;
}

#search > input {
  text-indent: 30px;
}

.search { 
  position: relative; 
}

.search input { 
  text-indent: 30px;
}

.search .fa-search { 
  position: absolute;
  top: 24px;
  left: 7px;
  font-size: 15px;
}

.nav-left a {
  opacity: 0.75;
}

.btn-group-lg>.btn, .btn-lg{
  font-size: 14px;
}